
/*login*/

.login{
    height: 80dvh;
    background: var(--bg-page);
}

.login__section{
    height: 100%;
    display: grid;
    place-items: center;
    padding-block: 2.4rem;
}


/*Signup*/
.auth{
    background: var(--bg-page);
}


@media (min-width: 1024px) {
    .form__group-inner, .form--auth__inner{
    grid-template-columns: 1fr 1fr;
}

.form__submit{
    display: block;
    margin: auto;
    width: 20rem !important;
}
}
.auth__section{
    padding-top: var(--px-lg);
    padding-bottom: var(--px-lg);
}
.auth__inner{
    background-color: var(--bg);
    border-radius: var(--radius);
    box-shadow: var(--shadow-card);
    max-width: 58rem;
    width: 100%;
    border: var(--border-card);
}
.auth__header{
    display: flex;
    flex-direction: row;
    gap: var(--px-base);
    text-align: start;
    padding: var(--px-lg) 0;
}

.auth__icon{
    max-width: 5.5rem;
    height: 5.5rem;
    object-fit: cover;
}

.auth__title{
    font-weight: bold;
}

.auth__lead{
    color: var(--sub);
}

.form__field{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    font-size: var(--px-xs);
}

.form__label{
    font-weight: bold;
}

.form__input, .form__select{
    width: 100%;
    border: var(--border-card);
    padding: 1.2rem var(--px-xs);
    border-radius: var(--radius-sm);
}
.auth .down__icon{
    right: 0.6rem;
    width: 2rem;
    height: 2rem;
}

.form__legend{
    font-size: var(--px-base);
    font-weight: bold;
}
.form__group{
    background: var(--bg-page);
    border: var(--border-card);
    border-radius: var(--radius-box);
    padding: var(--px-sm);
}

.form__checks{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    font-size: var(--px-xs);
}
.form__submit{
    width: 100%;
    font-size: var(--px-base);
}

.auth__alt{
    text-align: center;
    margin: var(--px-base);
}

.form__checks a, .auth__alt a{
    color: var(--primary);
}

/*Doctors*/
.doctors{
     background: var(--bg-page);
}

.doctors__title{
    margin-bottom: 1.2rem;
}

.doctors__lead{
    color: var(--sub);
    margin-bottom: var(--px-lg);
}

.doctors__meta{
    margin-top: var(--px-lg);
    display: flex;
    flex-direction: row;
    margin-bottom: var(--px-lg);
    align-items: center;
    gap: var(--px-base);
}

.doctors__sort{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    font-size: var(--px-xs);
    color: var(--sub);
}

.is-active{
    color: var(--primary);
}


.doctors__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 4rem;
}

@media (min-width: 700px) {
.doctors__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
.doctors__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.doctors__pagination{
    width: fit-content;
    margin: auto;
}

/*Doctor*/
.doctor{
    background: var(--bg-page);
}

.doctor__header{
    text-align: center;
    margin-top: 4.8rem;
}

.doctor__title{
    font-size: 2rem;
    margin-bottom: var(--px-base);
}